/* Body background and text styles */
body {
  font-family: "Open Sans", sans-serif;
  color: #dec3ce;
  background-image: url("dire_straits.jpg");
  background-size: cover;

  transition: background-color 1.5s; /* Smooth transition */
}

header {
  background: rgba(203, 126, 126, 0.6);
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(188, 182, 182, 0.9); /* Strong shadow */
  margin: 20px 40px;
  animation: fadeIn 1.5s; /* Adding animation */
}

/*First letters will be eyecathcing*/
.lyrics p::first-letter {
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  margin-right: 0.2em;
  float: left;
  margin-right: 4px;
  line-height: 1.2;
}

.lyrics > div {
  font-size: 22px;
  line-height: 1.6;
  margin-left: 40px;
  margin-bottom: 90px;
}

/*2nd, 4th and 6th paragraphs will appear italic*/
.secondpar {
  font-style: italic;
}

.fourthpar {
  font-style: italic;
}

.sixthpar {
  font-style: italic;
}

/* Section with lyrics styles */
.lyrics {
  font-size: 22px;
  line-height: 1.6;
  margin-left: 40px;
  margin-bottom: 50px;
}

/* Adjust the heading styles */
h2 {
  color: #ddfcff;
  margin-bottom: 34px;
  margin-top: -27px;
}
h1,
h2 {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  font-family: "Dancing Script";
}
h1 {
  color: #e3e8f1;
  font-size: 50px;
}

.lyrics > div p {
  transition: transform 0.6s ease; /* Smooth transition */
}

.lyrics > div p:hover {
  transform: translateY(
    -10px
  ); /* Move the paragraph slightly upwards on hover */
}

header {
  transition: transform 0.6s ease; /* Smooth transition */
}
header :hover {
  transform: translateY(-10px);
}
